<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Ajouter un nouveau commentaire</h2>
      <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
        <div class="form-group">
          <label for="title">Titre</label>
          <input type="text" id="title"
                 class="form-control" formControlName="title">
        </div>
        <div class="form-group">
          <label for="author">Auteur</label>
          <input type="text" id="author"
                 class="form-control" formControlName="author">
        </div>
        <div class="form-group">
          <label for="commentaire">commentaire</label>
          <textarea id="commentaire"
                    class="form-control" formControlName="commentaire">
          </textarea>
        </div>
        <button class="btn btn-success" [disabled]="postForm.invalid"
                type="submit">Ajouter
        </button>
  
      </form>
    </div>
  </div>